.opt-barra{
    text-decoration: none;
    color: #ffffffff;
    margin: auto 5px;
}
.container-title{
    background-color: #ffffffff;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    margin-right: 10px;
}